.biography {
    &__wrapper {
        display: grid;
        grid-template: repeat(2, 300px) / 400px 570px;
        column-gap: 70px;
        padding: 120px 0 0 0;
    }
    &__block {
        padding-top: 7px;
        &-text {
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: #000000;
            margin: 20px 0 0 0;
        }
        &-textfz14 {
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            margin-top: 6px;
        }
        &-info {
            margin-top: 40px;
            display: grid;
            grid-template: repeat(2, minmax(116px, 1fr)) / repeat(2, 260px);
            grid-auto-rows: minmax(116px, 1fr);
            gap: 20px 50px
        }
        &-elem {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
        }
        &-img {
            margin-top: 15px;
            padding-left: 15px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: -15px;
                left: 0;
                z-index: -1;
                height: 36px;
                width: 36px;
                background-color: $color;
                border-radius: 100%;
            }
        }
        &-wrapper {
            margin-left: 20px;
        }
    }
    &__photo {
        grid-row: 1/3;
    }
}