.header {
    background: url('../img/main_bg.jpg') no-repeat center center / cover;
    min-height: 100vh;
    position: relative;
    padding-top: 206px;
    &__buttons {
        margin-top: 25px;
        display: flex;
        align-items: center;
        &-btn1 {
            @include btns;
        }
        &-btn2 {
            height: 21px;
            font-size: 14px;
            font-weight: 700;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            background: none;
            border: none;
            margin-left: 44px;
        }
    }
}