.title {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    margin-top: 9px;
    color: #000000;
    z-index: 2;
    &__fz16 {
        font-size: 16px;
        line-height: 24px;
        margin-top: 0;
        padding-left: 10px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: -25%;
            left: 0;
            z-index: -1;
            height: 36px;
            width: 36px;
            background-color: $color;
            border-radius: 100%;
        }
    }
    &__fz48 {
        font-size: 48px;
    }
    &__fz36 {
        font-size: 36px;
        margin: 6px 0 0 0;
    }
    &__fz20 {
        font-size: 20px;
        line-height: 30px;
        margin: 0;
    }
    &__fz14 {
        margin-top: 0;
        font-size: 14px;
        line-height: 21px;
    }
}